/* Navbar */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    background: #02007d;
    background: radial-gradient(circle, rgba(2, 0, 125, 0.48) 15%, rgba(241, 148, 255, 0.51) 45%, rgba(250, 128, 114, 0.48) 79%, rgba(255, 231, 71, 0.49) 96%);
}

nav .logo_container{
    width: 200px;
}

nav .logo_container img{
    width: 100%;
    height: 100%;
}

nav .nav_links_container{
    display: flex;
    gap: 24px;
    text-decoration: none;
}

nav .nav_links_container a {
    text-decoration: none;
    color: black;
}

nav .nav_log_container{
    display: flex;
    gap: 16px;
}


.accueil_container{
    display: flex;
    justify-content: space-between;
}

.accueil_container .left_part{
    width: 50%;
    padding-left: 16px;
    border-radius: 20px;
    box-shadow: 2px 4px 0px #aaa;
}

.accueil_container .right_part{
    width: 40%;
    padding: 0px 16px;
    border-radius: 20px;
    box-shadow: -2px 4px 0px #aaa;
}

.accueil_container .right_part .image{
    display: flex;
    justify-content: center;
}

.accueil_container .right_part .image img{
    width: 30%;
}
/* div{
    border-radius: 20%;
    box-shadow: 8px 8px 0px #aaa;
} */