nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    background: #02007d;
    background: radial-gradient(circle, rgba(2, 0, 125, 0.48) 15%, rgba(241, 148, 255, 0.51) 45%, rgba(250, 128, 114, 0.48) 79%, rgba(255, 231, 71, 0.49) 96%);
}

nav .logo_container {
    width: 200px;
}

nav .logo_container img {
    width: 100%;
    height: 100%;
}

nav .nav_links_container {
    display: flex;
    gap: 24px;
}

nav .nav_links_container a {
    text-decoration: none;
    color: black;
}

nav .nav_log_container {
    display: flex;
    gap: 16px;
}

.middle-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 24px;
}

.paragraphe1 {
    width: 50%;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 2px 4px 0px #aaa;
}

.container.center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.image {
    width: 300px;
    border-radius: 12px;
}

.paragraphe2 {
    width: 40%;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 2px 4px 0px #aaa;
}

.paragraphe3 {
    width: 40%;
    padding: 16px;
    border-radius: 20px;
    box-shadow: -2px 4px 0px #aaa;
}
