.password-container {
    position: relative;
    width: fit-content;
}

.password-container input {
    padding-right: 35px; 
}

.toggle-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}
