.linux_container {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-top: 64px;
}

.left_part {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    height: 100%;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 2px 4px 0px #aaa;
}

.right_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 4px 0px #aaa;
}

.image_container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_container img {
    height: 100%;
    width: 300px;
    border-radius: 12px;
}

.paragraphe_container {
    height: 48%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.paragraphe_container p {
    width: 80%;
    text-align: center;
}