/* Navbar */

body    nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    background: #02007d;
    background: radial-gradient(circle, rgba(2, 0, 125, 0.48) 15%, rgba(241, 148, 255, 0.51) 45%, rgba(250, 128, 114, 0.48) 79%, rgba(255, 231, 71, 0.49) 96%);
}

body nav .logo_container {
    width: 200px;
}

body nav .logo_container img {
    width: 100%;
    height: 100%;
}

body nav .nav_links_container {
    display: flex;
    gap: 24px;
    text-decoration: none;
}

body nav .nav_links_container a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.534);
    border-radius: 99px;
    padding: 8px 16px;
}

body nav .nav_links_container a:hover {
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
}

body nav .nav_log_container {
    display: flex;
    gap: 16px;
}