nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px;
    background: #02007d;
    background: radial-gradient(circle, rgba(2, 0, 125, 0.48) 15%, rgba(241, 148, 255, 0.51) 45%, rgba(250, 128, 114, 0.48) 79%, rgba(255, 231, 71, 0.49) 96%);
}

nav .logo_container{
    width: 200px;
}

nav .logo_container img{
    width: 100%;
    height: 100%;
}

nav .nav_links_container{
    display: flex;
    gap: 24px;
    text-decoration: none;
}

nav .nav_links_container a {
    text-decoration: none;
    color: black;
}

nav .nav_log_container{
    display: flex;
    gap: 16px;
}

.responsabilite_container {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-top: 64px;
}

.left_part {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    width: 50%;
    height: 100%;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 2px 4px 0px #aaa;
}

.right_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 4px 0px #aaa;
}

.image_container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_container img {
    height: 100%;
    width: 300px;
    border-radius: 12px;
}

.paragraphe_container {
    height: 48%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.paragraphe_container p {
    width: 80%;
    text-align: center;
}